@font-face {
  font-family: "Unifont";
  src: url("Fonts/unifont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: #000000;
}

main {
    max-width: 1550px;   /* largura do conteúdo (estilo clássico) */
    height: 1000px;
    margin: 0 auto;     /* centraliza */
    background: #001111;/* cor de fundo do bloco central */
}

header {
    text-align: center;
    align-items: center;
    
    background: #0f0f0f; /* cor de fundo da barra */
    color: white;
}

@keyframes move-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 0; /* quanto mais pixels, mais longe ela anda */
    }
}

#title {
    background-image: url("Images/sky.png");
    background-size: 500px;
    background-repeat: repeat-x;
    background-position: 0 0;
    animation: move-back 15s linear infinite;
}

#title a img {
    width: 75%;
    height: auto;

    margin-top: 35px;
    margin-bottom: 0px;

    vertical-align: middle;

    filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.6));
}


#title p {
    /* PARTE DA FONTE DA BARRA DE NAVEGAÇÃO*/
    font-family: "Unifont", monospace;
    font-size: 45px;
    color: black;
    font-weight: bold;

    margin-top: 30px;
    padding-bottom: 25px;

    filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.6));
}


#navbar {
    /* PARTE DA FONTE DA BARRA DE NAVEGAÇÃO*/
    font-family: "Verdana", sans-serif;
    font-size: 32px;

    /* ESPAÇAMENTO E CENTRALIZAR */
    display: flex;
    justify-content: center;
    gap: 225px;
}

#navbar a {
    /* DECORAÇÃO DO TEXTO */
    color: #e0e0e0;
    text-decoration: none;

    /* MARGENS */
    margin-top: 20px;
    margin-bottom: 20px;
}

#navbar a:hover,
#navbar a:focus {
    /* DECORAÇÃO DO TEXTO QUANDO SELECIONADO */
    color: #2f52a6;
}
